@import url(/src/assets/style/css/root/var.css);

.banner-pesquisa{
    width: 80%;
    margin: 0 auto;
}

.banner-title{
    position: absolute;
    top: 9rem;
    margin: 1vw 6vw;
    font-size: var(--text-size-title);
    color: var(--text-color-title);
    text-shadow: var(--text-shadow-title);
}

.banner-img{

    width: 80vw;
    margin: 8rem auto 0;
    border-radius: var(--radius-geral);
}

.pesquisa{
    position: relative;
    bottom: 3rem;
    height: 5rem;
    margin: auto 12%;
    background-color: var(--bg-color-secondary);
    border-radius: var(--radius-geral);
    box-shadow: 0.5px 0.3px 5px #1d1c1c57
}

.lista-pesquisa{
    display: flex;
}

