@import url(/src/assets/style/css/root/var.css);

.banner-pesquisa{
    width: 92%;
    margin: 0 auto;
}

.banner-title{
    position: absolute;
    top: 12vh;
    margin: 3vh 10vw 0;
    font-size: var(--text-size-title);
    color: var(--text-color-title);
    text-shadow: var(--text-shadow-title);

}

.banner-img{
    width: 92vw;
    margin: 7rem auto 0;
    border-radius: var(--radius-geral);
}



