@import url(var.css);

.banner{
    width: 80%;
    margin: 0 auto;
}

.banner-rm{
    display: none;
}

.banner-img{
    width: 100%;
    margin: 5rem auto 0 auto;
    border-radius: var(--radius-geral);
}