.container-contatos{
    display: none;
}

.container-contatos{
    display: none;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
    background-color: var(--bg-color-secondary);
    border-radius: var(--radius-geral);
    box-shadow: var(--shadow-geral);
}

.contatos-titulo{
    text-align: center;
}

.contatos-legenda{
    width: 90%;
    margin: 2rem auto;
}