.rodape{
    margin: 2rem auto 0 auto;
    background-color: var(--bg-color-footer);
    height: 35vh;
    width: 100%;
}

.container-rodape{
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: solid 0.01rem rgba(222, 226, 230, 0.445);
}

.rodape-lista{
    display: flex;
    flex-direction: column;
}

.rodape-lista-itens{color: aliceblue; text-decoration: none;}

.rodape-direitos{
    margin: 1.5rem 0 0 0;
    color: aliceblue;
    text-align: center;
}