@import url(var.css);
body{background-color: var(--bg-color); width: 100%;}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-login{
    border: none;
}

.btn-login:hover{
    text-decoration: underline;
    color: var(--link-color);
    background-color: transparent;
}

.btn-cadastro:hover{
    background-color: var(--btn-color);
    border: solid 0.1rem #0ADBC6;
}

.btn-pesquisar{

    border: 0.1rem solid #0ADBC6;
    color: var(--text-color-btn-secondary);
}

.btn-pesquisar:hover{
    background-color: var(--btn-color);
    color: var(--text-color-btn);
}

