@import url(var.css);

.navbar{
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav{
    padding: 0.3rem 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--bg-color-secondary);
    box-shadow: var(--shadow-geral);
}

.nav-autentica{
    margin: 0 1rem;
}