.produtos{
    display: none;
    margin: 0 auto 2rem auto;
}

.produtos-ativo{
    display: block;
    margin: 7rem auto 2rem auto;
}
.container-produtos{
    display: none;
    background-color: var(--bg-color-secondary);
    border-radius: var(--radius-geral);
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    box-shadow: var(--shadow-geral);
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 30%));
    justify-content: space-around;
}

.card-img-car{
    margin: 0 auto;
    width: 70%;
}

.card-produtos{
    border-top: solid 0.1rem rgb(222, 226, 230);
    display: grid;
    grid-template-columns: 50% 50%;
}
.card-linha{
    display: flex;
    align-items: baseline;
}

.card-legenda{
    margin: 0.5rem;
}

.card-produtos-botoes{
    border-top: solid 0.1rem rgb(222, 226, 230);
    display: flex;
    justify-content: space-around;
}

/*  CATEGORIAS */
.pequeno{display: none;}

.pequeno-ativo{display: block;}

.medio{display: none;}

.medio-ativo{display: block;}

.grande{display: none;}

.grande-ativo{display: block;}

.suv{display: none;}

.suv-ativo{display: block;}


