/* Removendo os controles do input number */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.formulario-cadastro{
    display: none;
}

.formulario-cadastro-ativo{
    display: block;
    padding: 2rem;
    width: 30%;
    margin: 5vh auto 3rem auto;
    background-color: var(--bg-color-secondary);
    box-shadow: var(--shadow-geral);
    border-radius: var(--radius-geral);
}

.autenticacao-dados{
    width: 70%;
    margin: 0 auto;
}

.autenticacao-titulo{
    text-align: center;
}

.autenticacao-contato{
    width: 70%;
    margin: 0 auto;
}

.container-botao-cadastro{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.container-cadastro{
    margin: 0.5rem 0;
}
