@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{

    /* Main */
    --radius-geral: 1.5rem;
    --shadow-geral: 0 11px 34px 0 rgba(0,0,0,.2);
    --font-family: 'Roboto', 'Open Sans', sans-serif;
    --link-color: #747a8a;

    /* Nav */
    --text-size-nav: 1.4rem;
    --text-color-nav: #000000;
    --font-weight-nav: 400;

    /* Text */
    --text-size-title: 3vw;
    --text-color-title: #FFF;
    --text-color-title-secondary: #0ADBC6;
    --text-shadow-title: 0px 4px 4px rgb(36, 34, 34);

    /* Background */
    --bg-color: #fbfbfd;
    --bg-color-secondary: #FFFFFF;

    /* Button */
    --text-size-btn: 1.6rem;
    --btn-color: #0ADBC6;
    --btn-radius: 0.5rem;
    --text-color-btn: #FFFFFF;
    --text-color-btn-secondary: #0ADBC6;
    --font-weight-btn: 600;

    /* Footer */
    --bg-color-footer: #31425a;

    /* Card*/
    
}